<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>weatherinsightsPort</key>
    <string>443</string>
    <key>weatherinsightsUrl</key>
    <string>https://a85d8364-aca6-4d4f-9e85-03bf0582930d:LvCVSacdxQ@twcservice.mybluemix.net</string>
    <key>weatherinsightsPassword</key>
    <string>LvCVSacdxQ</string>
    <key>weatherinsightsHost</key>
    <string>twcservice.mybluemix.net</string>
    <key>weatherinsightsUsername</key>
    <string>a85d8364-aca6-4d4f-9e85-03bf0582930d</string>
    <key>appName</key>
    <string>weatherforecastingios</string></dict>
</plist>
