<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>weatherinsightsPort</key>
    <string>443</string>
    <key>weatherinsightsUrl</key>
    <string>REPLACEME.weatherInsightsServiceName.url</string>
    <key>weatherinsightsPassword</key>
    <string>REPLACEME.weatherInsightsServiceName.password</string>
    <key>weatherinsightsHost</key>
    <string>twcservice.mybluemix.net</string>
    <key>weatherinsightsUsername</key>
    <string>7f6eecd2-cadc-46ea-9baf-a6e28075a11f</string>
    <key>appName</key>
    <string>weatherforecastingios</string></dict>
</plist>
