<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>weatherinsightsPort</key>
    <string>443</string>
    <key>weatherinsightsUrl</key>
    <string>https://909dd435-a420-4732-8580-ea13a65bc982:zaa0cRGf7b@twcservice.mybluemix.net</string>
    <key>weatherinsightsPassword</key>
    <string>zaa0cRGf7b</string>
    <key>weatherinsightsHost</key>
    <string>twcservice.mybluemix.net</string>
    <key>weatherinsightsUsername</key>
    <string>909dd435-a420-4732-8580-ea13a65bc982</string>
    <key>appName</key>
    <string>weatherforecastingios</string></dict>
</plist>
